.dropdown {
  &__selected {
    display: grid;
    align-content: center;
    grid-template-columns: 0.2fr 1fr;
    color: var(--title-color);

    & > img {
      display: block;
      max-height: 28px;
      max-width: 50px;
      place-self: center;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    column-gap: 10px;
    padding-left: 12px;

    & p:first-of-type {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: -6px;
        width: 2px;
        height: 2px;
        background-color: #ffffff;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }

    & p:not(:last-of-type) {
      font-size: 10px;
      font-weight: 800;
      line-height: 14px;
    }

    & p:last-of-type {
      width: 100%;
      font-size: 6px;
      font-weight: 400;
      line-height: 8px;
      text-align: left;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media (min-width: 768px) {
  .dropdown {
    &__selected {
      display: flex;
    }

    &__info {
      column-gap: 16px;

      & p:not(:last-of-type) {
        font-size: 14px;
        font-weight: 800;
        line-height: 19px;
      }

      & p:first-of-type {
        &::after {
          right: -11px;
          width: 4px;
          height: 4px;
        }
      }

      & p:last-of-type {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
